table {
    border: 3px solid black;
}

th, td {
    border: 1px solid black;
}

button {
    color: azure;
    background-color: crimson;
}

.tilføj {
    color: azure;
    background-color: #4caf50;
}

