<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{common.css}">
    <link rel="stylesheet" th:href="@{attractionListStyle.css}">
    <title>Attraction List</title>
</head>
<body>

<h1>Turistattraktioner</h1>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction : ${attractionList}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td><a th:href="@{/attractions/{name}/edit(name=${touristattraction.name})}">
            <button type="button">Opdater</button>
        </a></td>
        <td>
            <form th:action="@{/attractions/{name}/delete(name=${touristattraction.name})}"
                  method="post">
                <button type="submit">Slet</button>
            </form>
        </td>
        <td><a th:href="@{/attractions/{name}/tags(name=${touristattraction.name})}">
            <button type="button" >Tags</button>
        </a>
            </td>
    </tr>
    </tbody>
</table>


<a class="tilføj" th:href="@{/attractions/add-attraction}">
    <button type="button">Tilføj attraktion</button>
</a>

</body>
</html>