<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{common.css}">
    <link rel="stylesheet" th:href="@{attractionListStyle.css}">
    <title>Attraction List</title>
</head>
<body>

<h1>Turistattraktioner</h1>

<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction : ${attractionList}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td><button type="button">Opdater</button></td>
        <td><button type="button">Slet</button></td>
        <td><a th:href="@{/attractions/{name}/tags(name=${touristattraction.name})}"><button type="button" >Tags</button></a>
            </td>
    </tr>
    </tbody>
</table>

<button class="tilføj" type="button" th:href="@{/addAttraction}">Tilføj attraktion</button>

</body>
</html>