<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{tagsStyle.css}">
</head>
<body>

<h1 th:text="${attraction.name}"></h1>
    <!-- tags skal evt være på dansk i stedet eller dette skal gøres anderledes så de skrives på dansk her -->
<!--    <ul th:each="Tag : ${taglist}">-->
<!--        <li th:text="*{Tag}"></li>-->
    </ul>
    <!-- tags printet med dansk tekst ved hjælp af if statement check -->
    <ul th:each="Tag : ${taglist}">
        <li th:if="*{Tag.name() eq 'ARCHITECTURE'}"> Arkitektur</li>
        <li th:if="*{Tag.name() eq 'KID_FRIENDLY'}"> Børnevenligt</li>
        <li th:if="*{Tag.name() eq 'AMUSEMENT_PARK'}">Forlystelsespark</li>
        <li th:if="*{Tag.name() eq 'HISTORY'}">Historie</li>
        <li th:if="*{Tag.name() eq 'ART'}">Kunst</li>
        <li th:if="*{Tag.name() eq 'MUSEUM'}">Museum</li>
        <li th:if="*{Tag.name() eq 'NATURE'}">>Natur</li>
        <li th:if="*{Tag.name() eq 'CASTLE'}">Slot</li>
        <li th:if="*{Tag.name() eq 'ZOO'}">Zoologisk Have</li>
    </ul>
</body>
</html>