<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${attraction.name}"> Tags</title>
    <link rel="stylesheet" th:href="@{/common.css}">
    <link rel="stylesheet" th:href="@{/tagsStyle.css}">
</head>
<body>
<main>
    <div class="border">
        <h1 th:text="${attraction.name}"></h1>
        <hr>
        <p th:text="${attraction.description}"></p>
        <ul th:each="Tag : ${taglist}">
            <li th:if="*{Tag.name() eq 'ARCHITECTURE'}">Arkitektur</li>
            <li th:if="*{Tag.name() eq 'KID_FRIENDLY'}">Børnevenligt</li>
            <li th:if="*{Tag.name() eq 'AMUSEMENT_PARK'}">Forlystelsespark</li>
            <li th:if="*{Tag.name() eq 'HISTORY'}">Historie</li>
            <li th:if="*{Tag.name() eq 'ART'}">Kunst</li>
            <li th:if="*{Tag.name() eq 'MUSEUM'}">Museum</li>
            <li th:if="*{Tag.name() eq 'NATURE'}">Natur</li>
            <li th:if="*{Tag.name() eq 'CASTLE'}">Slot</li>
            <li th:if="*{Tag.name() eq 'ZOO'}">Zoologisk Have</li>
        </ul>
        <div class="button-right">
            <a th:href="@{/attractions}">
                <button type="button">Tilbage</button>
            </a>
        </div>
    </div>
</main>
</body>
</html>